.nav-item {
    margin-right: 20px;
}

.nav-item a {
    letter-spacing: 1px;
}

/* BANNERS DOS DIRETORES */

#bannerDiretores {
    max-width: 800px;
}

#bannerDiretores button {
    background-color: black;
}