* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    letter-spacing: 1px;
}

/* BANNERS DOS DIRETORES */

#bannerDiretores {
    max-width: 800px;
}

#bannerDiretores button {
    background-color: black;
}

/* ADMINISTRAÇÃO */
.adm main {
    background-color: rgb(255, 255, 255);
    min-height: 500px;
}

.opcoes i {
    font-size: 30px;
}

.opcoes p {
    font-size: 16px;
    text-decoration: none;
}

.opcoes a {
    color: #A9A9A9;
    text-decoration: none;
}

.opcoes a:hover {
    color: #808080;
    text-decoration: none;
}

/* MENU LATERAL ADM */
.menuAdm {
    background-color: rgb(51, 51, 51);
    text-align: right;
    padding: 0;
}

.menuAdm a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.menuAdm li {
    list-style: none;
    padding: 4px;
    border-bottom: 1px solid #b1b1b1;
}

.menuAdm li:hover {
    background-color: #3b3b3b;
}

.menuAdm i {
    font-size: 15px;
    margin-left: 8px;
    margin-right: 20px;
}

.menuAdm li a {
    display: block;
}

/* //ADMINISTRAÇÃO */

/* FIM DA ADMINISTRAÇÃO */
.itensCadastrados {
    border: 2px solid lightgray;
    border-radius: 6px;
    padding: 15px;
    margin: 1px 0px 1px 0px;
}

.itensCadastrados:hover {
    background: #f5f5f5;
}